<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Group Finder UFABC</title>

    <!-- link to css file -->
    <link rel="stylesheet" href="./../../../public/css/main.css">

    <!-- font Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="logo">Group Finder UFABC</div>
        <div class="user-header">Olá, usuário</div>
    </header>

    <div class="container">
        <aside>
            <div class="nav-menu">
                <div class="classes">Turmas</div>
                <div class="my-groups">Meus grupos</div>
                <div class="new-group">Novo grupo</div>
            </div>
        </aside>

        <main>
            <div class="search-classes">
                <input type="search" name="" id="" placeholder="Pesquise por disciplinas">
            </div>

            <div class="classes-list">
                <table id="class-table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </main>
    </div>

</body>

</html>