<div class="container">
    <aside>
        <div class="nav-menu">
            <a href="/turma/list">
                <div class="nav-item">
                    <p>Turmas</p>
                </div>
            </a>
            <a href="/meus-grupos">
                <div class="nav-item">
                    <p>Meus grupos</p>
                </div>
            </a>
            <a href="/novo-grupo">
                <div class="nav-item">
                    <p>Novo grupo</p>
                </div>
            </a>
        </div>
    </aside>