<header>
    <div class="logo">
        <p>Group Finder <span>UFABC</span></p>
    </div>

    <div class="user-header">
        <div>
            <p>Olá, <%- name %>
            </p>
            <div class="user">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>

        <div id="dropdown-profile">
            <div>
                <p>
                    <a href="/minha-conta">Minha conta</a>
                </p>
            </div>
            <hr>
            <div id="sair">
                <p>Sair</p>
            </div>
        </div>
    </div>
</header>