<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Finder UFABC</title>

    <!-- link to css files -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main-responsive.css">

    <!-- font family Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <main class="container">
        <section id="presentation">
            <div class="logo">
                <p>Group Finder <span>UFABC</span></p>
            </div>

            <div class="group-hangout">
                <img src="/img/group-hangout.svg" alt="">
            </div>
        </section>

        <section id="get-in-app">
            <h2>Sign up</h2>
            <p>Encontre um grupo para suas atividades acadêmicas</p>

            <form action="" id="form-signup">
                <div class="input-group">
                    <label for="name" class="sr-only">Nome</label>
                    <input type="text" name="" id="name" placeholder="Nome">
                </div>

                <div class="input-group">
                    <label for="email" class="sr-only">E-mail</label>
                    <input type="email" name="" id="email" placeholder="E-mail">
                </div>

                <div class="input-group">
                    <label for="ra" class="sr-only">Usuário</label>
                    <input type="text" name="" id="ra" placeholder="RA">
                </div>

                <div class="input-group">
                    <label for="password" class="sr-only">Senha</label>
                    <input type="password" name="" id="password" placeholder="Senha">
                </div>

                <div class="input-group">
                    <label for="confirm-password" class="sr-only">Confirmar senha</label>
                    <input type="password" name="" id="confirm-password" placeholder="Confirmar senha">
                </div>

                <div class="input-group">
                    <button type="submit" id="sign-up-button">Sign up</button>
                </div>
            </form>

            <hr>

            <p>Já tem uma conta? <a href="./login.ejs">Log in</a></p>
        </section>
    </main>

    <script>
        const form = document.getElementById('form-signup')
        form.addEventListener('submit', registerUser)
        async function registerUser(event) {
            event.preventDefault()
            const id = document.getElementById('ra').value
            const email = document.getElementById('email').value
            const nome = document.getElementById('name').value
            const senha = document.getElementById('password').value
            console.log(id)
            
            const result = await fetch('/aluno/create',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id,
                    email,
                    nome,   
                    senha,
                    perms: {
                        admin: false,
                        banned:false
                    }
                })
            }   ).then((result)=>result.json())
        
            if (result.status === 'ok'){
                alert("User created successfully!   ")

            } else{
                alert(result.error)
            }
        }
    </script>

</body>

</html>