<html lang="pt-br">

<head>
    <%- include('head') %>
</head>

<body>

    <%- include('header') %>

        <%- include('aside') %>

            <main>

                <div class="my-groups-list">
                    <table id="group-table">
                        <thead>
                            <tr>
                                <th>Turma</th>
                                <th>Grupo</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </main>
            </div>

            <script src="/js/my-groups.js"></script>
            <script src="/js/script.js"></script>

</body>

</html>