<%- include('header') %>

    <%- include('aside') %>

        <main>
            <div class="search-classes">
                <input type="search" name="" id="search-input" placeholder="Pesquise por disciplinas">
            </div>

            <div class="classes-list">
                <table id="class-table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>MA1MCTA022</td>
                            <td>Engenharia de Software - A1 Matutino</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        </div>

        <script src="/js/script.js"></script>

        </body>

        </html>